<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information"/>
        </switches>
        <sharedListeners>
            <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <appSettings>
      <add key="TempoExec" value="60000"/>
      <add key="RepositorioXML" value="C:\Inspetor\processar"/>
      <add key="ProcessadosXML" value="C:\Inspetor\processados"/>
      <add key="ManualXML" value="C:\Inspetor\manual"/>
      <add key="CriticadosXML" value="C:\Inspetor\criticados"/>
      <add key="OrigemSigaMat" value="C:\TOTVS 11\Microsiga\Protheus_Data\nk\system"/>
      <add key="DestinoSigaMat" value="C:\Inspetor\config"/>
      <add key="Logo" value="app\logo.png"/>
      <add key="User" value="InspXML"/>
      <add key="userBD" value="sa"/>
      <add key="passBD" value="lokiju#78"/>
      <add key="DBERP" value="Protheus_NK"/>
      <add key="DBXML" value="DBInspetorCMS"/>
      <add key="Server" value="localhost"/>
      <add key="Conta" value="rafael.ross@cmsconsultoria.com"/>
      <add key="senha" value="lokiju#78"/>
      <add key="ParaFiscal" value="rafael.ross@cmsconsultoria.com"/>
      <add key="ParaCadastro" value="rafael.ross@cmsconsultoria.com"/>
      <add key="ParaPo" value="rafael.ross@cmsconsultoria.com"/>
      <add key="Assunto" value="Críticas XML "/>
      <add key="Smtp" value="mail.cmsconsultoria.com"/>
      <add key="Porta" value="587"/>
      <add key="HoraEnvioDiario1" value="10:00:00"/>
      <add key="HoraEnvioDiario2" value="12:00:00"/>
      <add key="HoraEnvioDiario3" value="15:00:00"/>
      <add key="HoraEnvioDiario4" value="17:00:00"/>
    </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
